<!-- jquery start -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- debug links 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->
<!-- jquery end -->

<!-- splide js start -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
<!-- debug links 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->
<!-- splide js end -->

{{ $dir := string .gallery_dir }}
{{ $fulldir := print "/static" $dir }}
{{ if os.FileExists $fulldir }}
    <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
      {{ range (readDir $fulldir) }}
        {{- $imageurl := printf "%s/%s" $dir .Name -}}
        {{- $imagetitle := replaceRE "[-_]" " " (index (split .Name ".") 0) -}}
          <li class="splide__slide">
            <a href="{{ $imageurl}}">
              <img src="{{ $imageurl }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
            </a>
          </li>
      {{ end }}
        </ul>
      </div>
    </section>
{{ end }}

<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide' , {
      perPage : 4,
      perMove : 3,
      gap: '1em',
      pagination: true,
      drag: true,
      height  : '10rem',
      lazyLoad: 'nearby',
      preloadPages: number = 1,
      breakpoints: {640: {
        height: '6rem',
        perPage : 3,
        perMove : 2,
      }
      },
    } );
    splide.mount();
  } );
</script>